{% for announcement in site.data.announcements.announcements %}
  {% if announcement.week == include.week %}
  {% assign announceID = announcement.date | remove: " " %}
    <div class="col-xl-3 col-sm-6 mb-5" style="color: #13294b;">
      <div class="staff-card bg-white rounded shadow-sm py-5 px-4"><img src="{{ site.baseurl }}/assets/img/default.jpg" onerror="this.src='{{ site.baseurl }}/assets/img/default.png';" class="img-fluid mb-3 img-thumbnail shadow-sm">
        <h5 class="mb-0">{{ announcement.date }}</h5>
        <h6 class="mb-0" style="text-align: left;">{{ announcement.summary }}</h6>
        <div class="feature">
          <button type="button" class="btn" data-toggle="collapse" data-target="#{{ announceID }}"><i class="fas fa-chevron-circle-down fa-2x"></i></button>
          <div id="{{ announceID }}" class="collapse">
            <p style="padding-top: 2em;">{{ announcement.text }}</p>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endfor %}

