<div class="table-responsive">
    <h3 style="text-align: center;">Week 1</h3>
    <div class="heading-underline"></div>
    <table class="table table-bordered">
    <tr>
        <th class="left">Date</th>
        <th class="right">Event</th>
    </tr>
    <tr>
        <td>June 28</td>
        <td>
            <ol>
                <li>Welcome to Digital Scholars Data Science!</li>
                <ul>
                    <li>Hello Survey</li>
                    <li>Lecture Slides</li>
                    <li>Lecture Handout</li>
                </ul>
                <li>Data Science Tools</li>
                <ul>
                    <li>Lecture Slides</li>
                    <li>Lecture Handout</li>
                    <li>Hello Survey Dataset</li>
                </ul>
                <li>Lab</li>
            </ol>
        </td>
    </tr>
    <tr>
        <td>June 29</td>
        <td>
            <ol>
                <li>Experimental Design & Row Selection (pandas)</li>
                <li>Blocking and Conditionals</li>
                <li>Lab</li>
            </ol>
        </td>
    </tr>
    <tr>
        <td>June 30</td>
        <td>
            <ol>
                <li>Confounders and Observational Studies</li>
                <li>Simpson's Paradox and Stratification</li>
                <li>Lab</li>
            </ol>
        </td>
    </tr>
    <tr>
        <td>July 1</td>
        <td>
            <ol>
                <li>Measures of Center and Spread</li>
                <li>Boolean Logic and Conditionals</li>
                <li>Lab: You and Data Science</li>
            </ol>
        </td>
    </tr>
    </table>

    <h3 style="text-align: center;">Week 2</h3>
    <div class="heading-underline"></div>
    <table class="table table-bordered">
    <tr>
        <th class="left">Date</th>
        <th class="right">Event</th>
    </tr>
    <tr>
        <td>July 5</td>
        <td>
            <ol>
                <li>Grouping Data (pandas)</li>
                <li>Grouping Data (pandas) II</li>
                <li>Lab</li>
            </ol>
        </td>
    </tr>
    <tr>
        <td>July 6</td>
        <td>
            <ol>
                <li>Bar Graphs and Histograms</li>
                <li>Quartiles and Boxplots</li>
                <li>Lab</li>
            </ol>
        </td>
    </tr>
    <tr>
        <td>July 7</td>
        <td>
            <ol>
                <li>Algorithms to Solve Complex Systems</li>
                <li>Intro to Probability + Monty Hall</li>
                <li>Lab</li>
            </ol>
        </td>
    </tr>
    <tr>
        <td>July 8</td>
        <td>
            <ol>
                <li>Probability, Birthday Problem, and Control Flow</li>
                <li>Loops in Python + Addition Rule</li>
                <li>Lab: You and Data Science</li>
            </ol>
        </td>
    </tr>
    </table>

</div>
