<div class="table-responsive">
    <h3 style="text-align: center;">Week {{ include.week }}</h3>
    <div class="heading-underline"></div>
    <table class="table table-bordered">
    <tr>
        <th class="left">Date</th>
        <th class="right">Event</th>
    </tr>
    {% for item in site.data.content.schedule %}
        {% if item.week == include.week %}
            <tr>
                <td>{{ item.date }}</td>
                <td>
                    <ol>
                        <li>{{ item.name1 }}</li>
                            {{ item.content1 }}
                        <li>{{ item.name2 }}</li>
                            {{ item.content2 }}
                        <li>{{ item.name3 }}</li>
                            {{ item.content3 }}
                    </ol>
                </td>
            </tr>
        {% endif %}
    {% endfor %}
    </table>
</div>
