<div class="table-responsive">
    <h3 style="text-align: center;">Week {{ include.week }}</h3>
    <div class="heading-underline"></div>
    <table class="table table-bordered">
    <tr>
        <th class="left">Date</th>
        <th class="right">Event</th>
    </tr>
    {% for item in site.data.content.schedule %}
        {% if item.week == include.week %}
            <tr>
                <td>{{ item.date }}</td>
                <td>
                    <ol>
                        {% if item.name != '' %}<li>{{ item.name }}</li>{% endif %}
                        {% if item.content != '' %}<li>Content:{{ item.content }}</li>{% endif %}
                        {% if item.lab != '' %}<li>{{ item.lab }}</li>{% endif %}
                    </ol>
                </td>
            </tr>
        {% endif %}
    {% endfor %}
    </table>
</div>
