<footer>
  <div class="row justify-content-center">
    <div class="col-md-5 text-center">
      <a href="{{ site.baseurl }}/"><img style="background-color: rgba(255, 255, 255, 0.35); border-radius: 2px;" src="{{ site.baseurl }}/assets/img/DPI8.png"></a>
      <p>{{ site.description }}</p>
      <strong>Contact Us</strong>
      <p>
        {% for instructor in site.data.info.instructors %}
          <a href="mailto:{{ instructor.email }}">Email {{ instructor.name }}</a><br>
        {% endfor %}
      </p>

      <strong>Visit Us</strong><br>
      {% for visit in site.data.info.visit %}
        <a href="{{ visit.url }}" target="_blank">{{ visit.name }}</a><br>
      {% endfor %}

    </div>
    <hr class="socket">
    <span style="padding: 0 10px;">&copy; Discovery Partners Institute |  Developed and Maintained by <a href="https://wjonasreger.github.io/website/" target="_blank">W. Jonas Reger</a>.</span>
  </div>
</footer>
